@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

.navbar {
    overflow: hidden;
    background-color: #181717;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

body {
    margin: 0;
    padding: 0;
    background: hsl(0, 0%, 5%); 
    color: #FFFFFF; 
    font-family: 'Roboto', Arial, sans-serif;
}

.imgcima {
    background-image: url(Capa.png);
    height: 525px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.introducao {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.introducao2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 2px;
}

.comeco {
    color: #ffffff;           
    border-radius: 16px;
    box-shadow: 0 2px 12px rgba(13,13,13,0.08);
    padding: 32px 24px;
    margin: 32px auto 24px auto;
    max-width: 1000px;
    text-align: center;
}

.intro p {
    color: #F5C745;
    font-size: 1.7em;
    line-height: 1.6;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hr linhatop {
    border: none;
    height: 2px;
    margin: 20px 0;

}

footer {
    text-align: center;
    color: #888;
    margin-top: 40px;
    font-size: 1em;
    margin-bottom: 40px;
}

